@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
:root {
  --a: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.home {
  /* padding: 10px; */
}

.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.library .heading {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 14px;
  padding: 23px 14px;
  font-size: 13px;
  font-weight: bold;
}

.library .heading img {
  width: 30px;
}

.library {
  position: relative;
  min-height: 76vh;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 9px;
  gap: 10px;
  padding: 13px;
}

.footer a {
  color: gray;
}

.right {
  margin: 16px 0;
  position: relative;
}

.hamburger {
  display: none;
}

.hamburgerflex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.left .close {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}
.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  max-height: 59vh;
  overflow-y: auto;
  margin: 30px 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  transition: all 0.8s;
}

.card:hover {
  background-color: rgb(119, 119, 119);
  cursor: pointer;
  --a: 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
  /* aspect-ratio: 1/1; */
}

.play {
  position: absolute;
  /* top: 150px; */
  bottom: 105px;
  right: 11px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(141, 139, 139);
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  color: black;
  background-color: white;
  border-radius: 21px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
}
.loginbtn:hover {
  font-size: 17px;
  background-color: rgba(251, 248, 248, 0.886);
  padding: 10px 11px;
  font-weight: bold;
}

.playbar {
  filter: invert(1);
  border-radius: 13px;
  position: fixed;
  bottom: 18px;
  /* margin-bottom: 16px; */
  background-color: #b5adad;
  width: 70vw;
  padding: 12px;
  min-height: 40px;
}

.seekbar {
  height: 3px;
  width: 69.5vw;
  background: black;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  margin: 10px;
  cursor: pointer;
}

.circle {
  position: relative;
  bottom: 7px;
  left: 0%;
  height: 13px;
  width: 13px;
  background-color: black;
  border: 2px solid black;
  border-radius: 13px;
  transition: left 0.5s;
}

.songbuttons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 16px;
}

.songList {
  height: 444px;
  overflow: scroll;
}

.songList ul {
  padding: 0 12px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
  padding: 10px 11px;
  margin: 12px -4px;
  border: 1px solid #5d5d5d;
  border-radius: 3px;
}

.songList .info {
  font-size: 13px;
  width: 344px;
}

.info div {
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 13px;
  width: 78px;
  padding: 11px 0;
}

.songbuttons img {
  cursor: pointer;
}
.timeVol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songinfo {
  color: black;
  padding: 0px 12px;
  font-weight: bold;
  width: 256px;
}
.songtime {
  color: black;
  padding: 0px 12px;
  font-weight: bold;
  width: 125px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.range:input {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

@media (max-width: 1400px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 3;
    width: 375px;
    background-color: black;
    padding: 0;
  }

  .left .close {
    position: absolute;
    right: 28px;
    top: 28px;
    display: block;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playbar {
    width: calc(100vw - 75px);
    right: 23px;
  }

  .seekbar {
    width: calc(100vw - 80px);
  }

  .hamburger {
    display: block;
  }

  .spotifyPlaylists h1 {
    padding: 16px;
  }

  .songinfo,
  .songtime {
    font-size: 14px;
    font-weight: bold;
    width: auto;
  }

  .cardContainer {
    justify-content: center;
    margin: 0;
  }

  .card {
    width: 40vw;
  }

  .abovebar {
    flex-direction: column;
    gap: 22px;
    align-items: center;
  }

  .timeVol {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 1200px) {
    .cardContainer {
      max-height: unset;
      overflow-y: unset;
    }
    .seekbar{
      /* bottom: 2px; */
      width: calc(100vw - 100px);
      bottom: 4px;
    }

    .left{
      position: fixed;
      top: 0;
      height: 100vh;
    }
    .play{
      bottom: 88px;
    }
  }

  @media (max-width: 431px) {
    .signupbtn {
      font-size: 15px;
    }
    .loginbtn {
      padding: 4px;
      width: 86px;
      font-size: 15px;
    }
    .card {
      width: 100%;
    }

    .cardContainer {
      max-height: 50vh;
    }

    .header > * {
      padding: 10px;
    }

    .buttons > * {
      margin: 0 3px;
    }

    .spotifyPlaylists h1{
      padding: 4px;
    }

    .play{
      right: 15px;
    }
    
    .playbar{
      right: 25px;
    }

    .left{
      width: 100vw;
    }
  }
}
